<div class="card my-2">
    <div class="card-header h5 justify-content-between d-flex align-items-center">
        <div class="" role="button" hx-get="/menu/tags/{{side}}" hx-target="#offcanvas-container-{{side}}" hx-swap="innerHTML"><i class="bi bi-chevron-left"></i>Back</div>
        <span>Edit Tags</span>
    </div>
</div>
<form method="POST" id="tag_form">
    {% for t in tag_list %}
        <div class="card my-2">
            <div class="card-header d-flex justify-content-between">
                <div class="btn rounded-pill tag-button m-1 {% if t.admin_only %}border border-danger border-2{% endif %}" style="background-color: {{t.color}}; color: {{t.text_color}};">
                    <button class="btn" type="button" style="color: {{t.text_color}};" data-bs-toggle="offcanvas">{% if t.icon %}<i class="bi bi-{{t.icon}}"></i>{% endif %}{{t.name}}</button>
                </div>
                <button type="button" class="btn btn-dark p-0 bg-transparent border-0" hx-post="/settings/del_tag/{{t.id}}/{{side}}" hx-target="#offcanvas-container-{{side}}" hx-swap="innerHTML" hx-confirm="This will delete this tag and remove it from all images. Are you sure?"><i class="bi bi-trash text-danger h5"></i></button>
            </div>
            <div class="card-body">
                <div class="form-floating">
                    <input class="form-control" type="text" placeholder="Name" name="{{t.id}}_tag_name" id="tagAddName" value="{{t.name}}" required>
                    <label for="tagAddName" class="form-label">Name</label>
                </div>
            </div>
            <div class="card-body">
                <label for="tagAddColor" class="form-label">Color</label>
                <select class="form-select" id="tagAddColor" aria-label="Choose tag Color" name="{{t.id}}_tag_color" required>
                    <option value="None,None">Choose tag color</option>
                    {% for c in all_colors %}
                    <option value="{{c.value}}:{{c.text_color}}" style="background-color: {{c.value}}; color: {{c.text_color}};" {% if t.color == c.value %}selected{% endif %}>
                        {{c.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="card-body d-flex align-items-center">
                <label for="tagAddAdmin" class="form-label m-0">Admin Only <button type="button" class="btn btn-sm rounded-pill btn-outline-secondary" data-bs-toggle="popover" data-bs-title="Admin Only" data-bs-content="A tag marked as 'Admin Only', and images with the tag, are only visable to users with the admin role.">?</button></label>
                <div class="form-check form-switch mx-2">
                    <input class="form-check-input" role="switch" type="checkbox" id="tag_admin_only" name="{{t.id}}_tag_admin" value="{{t.admin_only}}" {% if t.admin_only == True %}checked{% endif %} switch>
                </div>
            </div>
            <input type="hidden" name="{{t.id}}_tag_id" value="{{t.id}}">
            </div>
        </div>
    {% endfor %}
    <div class="card-footer">
        <button class="btn btn-primary" type="submit" id="tags_button" name="tags_button" hx-post="/settings/save_tags/{{side}}" hx-target="#offcanvas-container-{{side}}" hx-swap="innerHTML">Save</button>
    </div>
</form>