<div id="filter_buttons_{{side}}">
    {% include "includes/filter_buttons.html" %}
</div>
<button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas{{side}}" aria-controls="offcanvas{{side}}" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="offcanvas offcanvas-{% if side == 'Left' %}start{% endif %}{% if side == 'Right' %}end{% endif %} bg-body-tertiary" tabindex="-1" id="offcanvas{{side}}" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header bg-body p-2 {% if side == 'Left' %}justify-content-start{% endif %}{% if side == 'Right' %}justify-content-end{% endif %}">
        <button type="button" class="btn btn-dark" data-bs-dismiss="offcanvas" aria-label="Close">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="offcanvas-body bg-body p-2 pt-0" id="offcanvas-container-{{side}}">
        {% include "includes/menu/menu_main.html" %}
    </div>
</div>

