<div class="card my-2">
    <div class="card-header h5 justify-content-between d-flex align-items-center">
        <div class="" role="button" hx-get="/menu/tags/{{side}}" hx-target="#offcanvas-container-{{side}}" hx-swap="innerHTML"><i class="bi bi-chevron-left"></i>Back</div>
        <span>Add New Tag</span>
    </div>
</div>
<div class="card">
    <form method="POST" id="tag_form">
        <div class="card-body">
            <div class="form-floating">
                <input class="form-control" type="text" placeholder="Name" name="name" id="tagAddName" required>
                <label for="tagAddName" class="form-label">Name</label>
            </div>
            <div class="mt-2">
                <label for="tagAddColor" class="form-label">Color</label>
                <select class="form-select" id="tagAddColor" aria-label="Choose tag Color" name="color" required>
                    <option selected value="None,None">Choose tag color</option>
                    {% for c in all_colors %}
                    <option value="{{c.value}}:{{c.text_color}}" style="background-color: {{c.value}}; color: {{c.text_color}};">
                        {{c.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mt-2">
                <label for="tagAddAdmin" class="form-label">Admin Only <button type="button" class="btn btn-sm rounded-pill btn-outline-secondary" data-bs-toggle="popover" data-bs-title="Admin Only" data-bs-content="A tag marked as 'Admin Only', and images with the tag, are only visable to users with the admin role.">?</button></label>
                <div class="form-check form-switch d-flex justify-content-center">
                    <input class="form-check-input d-flex" role="switch" type="checkbox" id="tag_admin_only" name="admin_only" switch>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" type="submit" id="tags_button" name="tags_button" hx-post="/settings/add_tag/save/{{side}}" hx-target="#offcanvas-container-{{side}}" hx-swap="innerHTML">Add</button>
        </div>
    </form>
</div>