<div class="card my-2">
    <div class="card-header h5 justify-content-between d-flex align-items-center">
        <div class="" role="button" hx-get="/menu/main/{{side}}" hx-target="#offcanvas-container-{{side}}" hx-swap="innerHTML"><i class="bi bi-chevron-left"></i>Back</div>
        <span>Server Settings</span>
    </div>
</div>

<form method="POST" id="settings_form" action="/settings/server_settings/{{side}}">
    <div class="card my-2">
        <div class="card-header">
            Menu Side
        </div>
        <div class="card-body">
            <div class="form-check m-2 mb-4">
                <input class="form-check-input" type="radio" name="sidebar" value="Left" id="Left" {% if settings['sidebar'] == 'Left' %}checked{% endif %}>
                <label class="form-check-label" for="base_path">Left</label>
            </div>
            <div class="form-check m-2 mb-4">
                <input class="form-check-input" type="radio" name="sidebar" value="Right" id="Right" {% if settings['sidebar'] == 'Right' %}checked{% endif %}>
                <label class="form-check-label" for="base_path">Right</label>
            </div>
            <div class="form-check m-2 mb-4">
                <input class="form-check-input" type="radio" name="sidebar" value="Both" id="Both" {% if settings['sidebar'] == 'Both' %}checked{% endif %}>
                <label class="form-check-label" for="base_path">Both</label>
            </div>
        </div>
    </div>
    <div class="card my-2">
        <div class="form-check m-2 mb-4">
            <input type="checkbox" class="form-check-input" id="allow_signup" name="allow_signup" value="signups" placeholder="Allow Signup" {% if settings['allow_signup'] == 'True' %}checked{% endif %} {% if not current_user.admin %}disabled{% endif %}>
            <label class="form-check-label" for="allow_signup">Allow Signup</label>
        </div>
        <div class="form-check m-2 mb-4">
            <input type="checkbox" class="form-check-input" id="allow_login" name="allow_login" value="logins" placeholder="Allow Login" {% if settings['allow_login'] == 'True' %}checked{% endif %} {% if not current_user.admin %}disabled{% endif %}>
            <label class="form-check-label" for="allow_login">Allow Login</label>
        </div>
        <div class="form-floating m-2 mb-4">
            <input type="text" class="form-control" id="thumb_size" name="thumb_size" value="{{ settings.thumb_size }}" placeholder="Thumbnail Size/Offset" {% if not current_user.admin %}disabled{% endif %}>
            <label class="form-label" for="thumb_size">Thumbnail Size</label>
        </div>
    </div>
    <div class="form-group m-2">
        <div class="">
            <button type="submit" class="btn btn-success" id="server-settings-button" name="server-settings-button">Save</button>
        </div>
    </div>
</form>