<div class="flex-grow-1 justify-content-center p-2 align-self-center input-group" id="searchContainer" hx-swap-oob="true">
    <div class="input-group">
        <input class="form-control" type="search" name="q" id="searchBox" {% if search %}value="{{search}}" {% endif %} hx-post="/" hx-trigger="keyup changed delay:500ms" hx-target="#imagesBlock" hx-swap="innerHTML" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="button" id="clear-search" hx-post="/" hx-target="#imagesBlock" hx-swap="innerHTML">&times;</button>
    </div>
</div>

{% if user_settings['sidebar'] == 'Left' or user_settings['sidebar'] == 'Both' %}
<div id="filter_buttons_Left" class="test" hx-swap-oob="true">
    {% include "includes/filter_buttons.html" %}
</div>

<div class="d-flex justify-content-start" id="menu_filters_Left" hx-swap-oob="true">
    {% include "includes/menu/menu_filters.html" %}
</div>
{% endif %}
{% if user_settings['sidebar'] == 'Right' or user_settings['sidebar'] == 'Both' %}
<div id="filter_buttons_Right" class="test" hx-swap-oob="true">
    {% include "includes/filter_buttons.html" %}
</div>

<div class="d-flex justify-content-end" id="menu_filters_Right" hx-swap-oob="true">
    {% include "includes/menu/menu_filters.html" %}
</div>
{% endif %}

{% for i in images %}
{% include "includes/thumbnail.html" %}
{% endfor %}

{% if images != [] %}
<div id="load-more" hx-get="/load_more_images?q={{ search }}&offset={{ next_offset }}" hx-target="#imagesBlock" hx-trigger="intersect once threshold:0.1" hx-swap="beforeend" hx-swap-oob="true">
    Loading more images... {{next_offset}}
</div>
{% else %}
<div id="load-more" hx-swap-oob="true">
</div>
{% endif %}