{% extends "base.html" %}

{% block content %}
<div class="container settings-container">
    <div class="m-3 d-flex justify-content-center align-items-top">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link {% if page == 'user' %}active{% endif %}" id="users-tab" data-bs-toggle="tab" data-bs-target="#users-tab-pane" type="button" role="tab" aria-controls="user-tab-pane" aria-selected="true">User Settings</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link {% if page == 'server' %}active{% endif %}" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings-tab-pane" type="button" role="tab" aria-controls="settings-tab-pane" aria-selected="false">Server Settings</button>
            </li>
        </ul>
    </div>
    <div class="">
        <div class="tab-content justify-content-center mt-3 pt-3" id="myTabContent">
            <div class="tab-pane fade {% if page == 'user' %}show active{% endif %}" id="users-tab-pane" role="tabpanel" aria-labelledby="users-tab" tabindex="0">
                <form method="POST" id="user_settings_form">
                    <div class="container justify-content-center accordion">
                        <div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Sidebar Icons
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <div class="form-check m-2 mb-4">
                                            <input class="form-check-input" type="radio" name="sidebar" value="Left" id="Left" {% if user_settings['sidebar'] == 'Left' %}checked{% endif %}>
                                            <label class="form-check-label" for="base_path">Sidebar Left</label>
                                        </div>
                                        <div class="form-check m-2 mb-4">
                                            <input class="form-check-input" type="radio" name="sidebar" value="Right" id="Right" {% if user_settings['sidebar'] == 'Right' %}checked{% endif %}>
                                            <label class="form-check-label" for="base_path">Sidebar Right</label>
                                        </div>
                                        <div class="form-check m-2 mb-4">
                                            <input class="form-check-input" type="radio" name="sidebar" value="Both" id="Both" {% if user_settings['sidebar'] == 'Both' %}checked{% endif %}>
                                            <label class="form-check-label" for="base_path">Sidebar Both</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-2">
                                <div class="">
                                    <button type="submit" class="btn btn-success" id="user-settings-button" name="user-settings-button">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% if current_user.admin %}
            <form method="POST" id="settings_form">
                <div class="tab-pane fade {% if page == 'server' %}show active{% endif %}" id="settings-tab-pane" role="tabpanel" aria-labelledby="settings-tab" tabindex="0">
                    <div class="container justify-content-center accordion">
                        <div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSideBar" aria-expanded="true" aria-controls="collapseSideBar">
                                        Sidebar Icons
                                    </button>
                                </h2>
                                <div id="collapseSideBar" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <div class="form-check m-2 mb-4">
                                            <input class="form-check-input" type="radio" name="sidebar" value="Left" id="Left" {% if settings['sidebar'] == 'Left' %}checked{% endif %}>
                                            <label class="form-check-label" for="base_path">Sidebar Left</label>
                                        </div>
                                        <div class="form-check m-2 mb-4">
                                            <input class="form-check-input" type="radio" name="sidebar" value="Right" id="Right" {% if settings['sidebar'] == 'Right' %}checked{% endif %}>
                                            <label class="form-check-label" for="base_path">Sidebar Right</label>
                                        </div>
                                        <div class="form-check m-2 mb-4">
                                            <input class="form-check-input" type="radio" name="sidebar" value="Both" id="Both" {% if settings['sidebar'] == 'Both' %}checked{% endif %}>
                                            <label class="form-check-label" for="base_path">Sidebar Both</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTags" aria-expanded="true" aria-controls="collapseTags">
                                        Tags
                                    </button>
                                </h2>
                                <div id="collapseTags" class="accordion-collapse collapse show d-flex justify-content-center">
                                    <div class="accordion-body">
                                        <div class="mb-3 d-flex justify-content-center">
                                            <button class="btn btn-outline-secondary" data-bs-target="#tag_modal" data-bs-toggle="modal" hx-get="/settings/add_tag" hx-on="show.bs.modal: target.innerHTML='Loading...';" hx-target="#tag_modal_content" data-bs-target="#tag_modal_content">Add Tag</button>
                                        </div>
                                        <div id="tag_list">
                                            {% include "includes/tag_list.html" %}
                                        </div>
                                        <div class="modal fade" id="tag_modal" aria-hidden="true" aria-labelledby="tag_modal" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content" id="tag_modal_content">
                                                    {% include "includes/settings_tags.html" %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item" id="settingsAccordion">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFolders" aria-expanded="true" aria-controls="collapseFolders">
                                        Folders
                                    </button>
                                </h2>
                                <div id="collapseFolders" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <div id="folder_list_container">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Path</th>
                                                        <th>Admin Only <button type="button" class="btn btn-sm rounded-pill btn-dark" data-bs-toggle="popover" data-bs-title="Admin Only" data-bs-content="Folders marked as 'Admin Only' are only visable to users with the admin role."><h5 class="m-auto"><i class="bi bi-question-circle"></i></h5></button></th>
                                                        <th>Ignore <button type="button" class="btn btn-sm rounded-pill btn-dark" data-bs-toggle="popover" data-bs-title="Ignore" data-bs-content="Marking a folder with 'Ignore' enabled will prevent the folder and its contents from being scanned."><h5 class="m-auto"><i class="bi bi-question-circle"></i></h5></button></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="folder_list">
                                                    {% include "includes/folder_list.html" %}
                                                </tbody>
                                            </table>
                                            <div class=""><button type="button" class="btn btn-dark" data-bs-target="#folder_modal" data-bs-toggle="modal"><h4 class="m-auto"><i class="bi bi-plus-circle"></i></h4></button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseServerSettings" aria-expanded="true" aria-controls="collapseServerSettings">
                                        Server Settings
                                    </button>
                                </h2>
                                <div id="collapseServerSettings" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        {% if not current_user.admin %}<span class="text-bg-danger">You must be logged in as admin to change these settings.</span>{% endif %}
                                        <div class="form-check m-2 mb-4">
                                            <input type="checkbox" class="form-check-input" id="allow_signup" name="allow_signup" value="signups" placeholder="Allow Signup" {% if settings['allow_signup'] == 'True' %}checked{% endif %} {% if not current_user.admin %}disabled{% endif %}>
                                            <label class="form-check-label" for="allow_signup">Allow Signup</label>
                                        </div>
                                        <div class="form-check m-2 mb-4">
                                            <input type="checkbox" class="form-check-input" id="allow_login" name="allow_login" value="logins" placeholder="Allow Login" {% if settings['allow_login'] == 'True' %}checked{% endif %} {% if not current_user.admin %}disabled{% endif %}>
                                            <label class="form-check-label" for="allow_login">Allow Login</label>
                                        </div>
                                        <div class="form-floating m-2 mb-4">
                                            <input type="text" class="form-control" id="thumb_size" name="thumb_size" value="{{ settings.thumb_size }}" placeholder="Thumbnail Size/Offset" {% if not current_user.admin %}disabled{% endif %}>
                                            <label class="form-label" for="thumb_size">Thumbnail Size/Offset</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-2">
                                <div class="">
                                    <button type="submit" class="btn btn-success" id="server-settings-button" name="server-settings-button">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal fade" id="folder_modal" aria-hidden="true" aria-labelledby="folder_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="folder_modal_content">
            <div class="modal-header justify-content-center">
                Add Folder
            </div>
            <form method="POST" id="new_folder_form">
                <div class="modal-body d-flex justify-content-center">
                    <div class="form-floating w-100">
                        <input type="text" class="form-control" placeholder="Folder Path" name="new_folder" id="new_folder" />
                        <label for="new_folder">Folder Path</label>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" data-bs-target="#folder_modal" data-bs-toggle="modal">Cancel</button>
                    <button type="button" class="btn btn-success" hx-post="/settings/add_folder" hx-target="#folder_list" hx-swap="innerHTML" data-bs-target="#folder_modal" data-bs-toggle="modal">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}