{% for f in folder_list %}
<tr>
    <td><span>{{f.path}}</span></td>
    <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" role="switch" name="{{f.id}}_admin_only" value="{{f.admin_only}}" {% if f.admin_only %}checked{% endif %}></div></td>
    <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" role="switch" name="{{f.id}}_ignore" value="{{f.ignore}}" {% if f.ignore %}checked{% endif %} {% if not f.built_in and f.basepath %}disabled{% endif %}></div></td>
</tr>
{% endfor %}