<div class="tag-form input-group justify-content-center">
    <br />
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="tags-button" data-bs-toggle="dropdown" name="tags-button">
            Add Tags
        </button>
        <ul class="dropdown-menu">
        {% for t in tag_list %}
            <li value="{{t.id}}" class="rounded-pill" style="background-color: {{t.color}}; text-align:center;" hx-post="/add_tag/{{t.id}}/{{image.id}}" hx-target="#tagReplaceBox" hx-swap="innerHTML">{{t.name}}</li>
        {% endfor %}
        </ul>
    <br />
    <br />
    <div id="tagBox">
    {% if tags %}
        {% for t in tags %}
            <div class="btn rounded-pill mx-2" style="background-color: {{t.color}};">
                <span class="px-1">{{ t.name }}</span><button type="button" class="btn-close mx-1" hx-confirm="Are you sure you wish to remove this tag?" hx-post="/del_tag/{{t.id}}/{{image.id}}" id="tag_button_{{t.id}}" hx-target="#tagReplaceBox" hx-swap="delete"></button>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>