<div class="offcanvas-header border-bottom border-2 {% if which_side == 'left' %}justify-content-start{% endif %}{% if which_side == 'right' %}justify-content-end{% endif %}">
    <button type="button" class="btn btn-dark" data-bs-dismiss="offcanvas" aria-label="Close">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="offcanvas-body pt-3">
    <div class="m-2 pb-3">Logged in as {{current_user.username}}{% if current_user.admin %} (admin){% endif %}</div>
    <div class="offcanvas-filters" id="offcanvas-filters">
        <div class="m-2">Filters:</div>
        <div class="container justify-content-center accordion p-0">
            <div class="accordion-item p-0" id="tagsAccordion{% if which_side == 'left' %}Left{% endif %}{% if which_side == 'right' %}Right{% endif %}">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filterOne{% if which_side == 'left' %}Left{% endif %}{% if which_side == 'right' %}Right{% endif %}" aria-expanded="true" aria-controls="filterOne">
                        <i class="bi bi-tags"></i>Tags
                    </button>
                </h2>
                <div id="filterOne{% if which_side == 'left' %}Left{% endif %}{% if which_side == 'right' %}Right{% endif %}" class="accordion-collapse collapse">
                    {% include "includes/offscreen_tags.html" %}
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filterTwo{% if which_side == 'left' %}Left{% endif %}{% if which_side == 'right' %}Right{% endif %}" aria-expanded="true" aria-controls="filtereTwo">
                        <i class="bi bi-folder"></i> Folders
                    </button>
                </h2>
                <div id="filterTwo{% if which_side == 'left' %}Left{% endif %}{% if which_side == 'right' %}Right{% endif %}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {% include "includes/offscreen_folders.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="flex-grow-1 list-group mt-3">
        {% if url_for( request.endpoint, **request.view_args) != "/" %}
        <li class="list-group-item p-4">
            <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ url_for( 'views.home' ) }}">Home</a>
        </li>
        {% endif %}
        <li class="list-group-item p-4">
            <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ url_for( 'settings.show_settings' )}}"><i class="bi bi-gear"></i>Settings</a>
        </li>
        <li class="list-group-item p-4">
            <a class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
    </ul>
</div>