<form method="POST" id="tag_form">
 <div class="modal-body text-center container">
    <div class="row">
        <div class="col pt-2">Add new tag</div>
    </div>
    <div class="row">
        <div class="col p-2">Color:&nbsp;&nbsp;&nbsp;<button class="btn" style="background-color: {{form_fields['color']}}; color: {{form_fields['text']}};" hx-post="/settings/show_common_colors" hx-swap="innerHTML" hx-target="#tag_modal_content" {% if form_fields['id'] %}disabled{% endif %}>{{form_fields['color']}}</button></div>
        <div class="col d-flex align-items-center">
            <input type="hidden" name="color" value="{{form_fields['color']}}">
            <input type="hidden" name="text" value="{{form_fields['text']}}">
            <input type="text" placeholder="Name" name="name" value="{{form_fields['name']}}">
        </div>
    </div>
</div>
<div class="modal-footer d-flex justify-content-between">
    <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
    {% if form_fields['id'] %}
    <button class="btn btn-danger" aria-label="Delete">Delete</button>
    <input type="hidden" name="id" value="{{form_fields['id']}}">
    <button class="btn btn-primary" type="submit" id="tags_button" name="tags_button">Save</button>
    {% else %}
    <button class="btn btn-primary" type="submit" id="tags_button" name="tags_button">Add</button>
    {% endif %}
</div>
</form>