<form method="POST" id="tag_form">
<div class="modal-header justify-content-center">
    <div class="pt-2">Add new tag</div>
</div>
<div class="modal-body text-center container justify-content-center">
    <div class="p-2">Color:&nbsp;&nbsp;&nbsp;<button class="btn" style="background-color: {{form_fields['color']}}; color: {{form_fields['text']}};" hx-post="/settings/show_common_colors" hx-swap="innerHTML" hx-target="#tag_modal_content" {% if form_fields['id'] %}disabled{% endif %}>{{form_fields['color']}}</button></div>
    <div class="d-flex align-items-center justify-content-center">
        Name:&nbsp;&nbsp;&nbsp;<input type="text" placeholder="Name" name="name" value="{{form_fields['name']}}">
    </div>
    <div class="">
        Admin Only:&nbsp;&nbsp;&nbsp;<input type="checkbox" name="admin_only" value="{{form_fields['admin_only']}}" {% if form_fields['admin_only'] %}checked{% endif %}>
    </div>
    <input type="hidden" name="color" value="{{form_fields['color']}}">
    <input type="hidden" name="text" value="{{form_fields['text']}}">
</div>
<div class="modal-footer d-flex justify-content-between">
    <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
    {% if form_fields['id'] %}
    <input type="hidden" name="id" value="{{form_fields['id']}}">
    <button class="btn btn-danger" type="submit" id="tags_delete" name="tags_delete" hx-confirm="Are you sure you wish to delete this tag? It will be removed from all images." aria-label="Delete">Delete</button>
    <button class="btn btn-primary" type="submit" id="tags_button" name="tags_button">Update</button>
    {% else %}
    <button class="btn btn-primary" type="submit" id="tags_button" name="tags_button">Add</button>
    {% endif %}
</div>
</form>