<div class="thumbnail">
    <div role="button" data-bs-toggle="modal" data-bs-target="#fullsizeModal" hx-get="/get_image_info/{{i.id}}" hx-target="#imageModalInfo" hx-on="show.bs.modal: target.innerHTML='Loading...';" data-bs-modalimage="{{ url_for('image_routes.send_media', checksum=i.checksum) }}" data-bs-isvideo="{{i.is_video}}" data-image-id="{{i.id}}" class="m-0 g-0 p-0 rounded-4 thumbnail-sub">
        <img src="{{ url_for('static', filename='thumbnails/' + i.checksum + '.webp') }}" />
    </div>
</div>