<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
        {%- block headerinjection -%}{% endblock %}
        <title>{% block title %}Image Thingy{% endblock %}</title>
    </head>
        <body>
            {% if current_user %}
            <div class="sticky-top bg-body-tertiary d-flex">
                {% if settings['sidebar'] == "Left" or settings['sidebar'] == "Both" %}
                <div class="'justify-content-start p-2 align-self-center">
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                {% endif %}
                <div class="flex-grow-1 justify-content-center p-2 align-self-center input-group" id="searchContainer">
                    {% if not url_for( request.endpoint, **request.view_args) != "/" %}
                    <div class="input-group">
                        <input class="form-control" type="search" name="q" id="searchBox" {% if search %}value="{{search}}" {% endif %} hx-get="/search" hx-trigger="keyup changed delay:500ms" hx-target="#imagesBlock" hx-swap="innerHTML" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="button" id="clear-search" hx-get="/search" hx-target="#imagesBlock" hx-swap="innerHTML">&times;</button>
                    </div>
                    {% endif %}
                </div>
                {% if settings['sidebar'] == "Right" or settings['sidebar'] == "Both" %}
                <div class="justify-content-end p-2 align-self-center">
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                {% endif %}
            </div>
            {% if settings['sidebar'] == "Left" or settings['sidebar'] == "Both" %}
            <div class="offcanvas offcanvas-start bg-body-tertiary" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLabel">
                {% with which_side = 'left' %}
                {% include "offscreen.html"%}
                {% endwith %}
            </div>
            {% endif %}
            {% endif %}
            {% if settings['sidebar'] == "Right" or settings['sidebar'] == "Both" %}

            <div class="offcanvas offcanvas-end bg-body-tertiary" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasLabel">
                {% with which_side = 'right' %}
                {% include "offscreen.html" %}
                {% endwith %}
            </div>
            {% endif %}
            <div class="container justify-content-center messages-block" id="liveAlerts">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="d-flex alert {% if category == 'error' %}alert-danger{% else %}alert-success{% endif%} alert-dismissible fade show m-3 justify-content-center align-self-center" role="alert">
                        <div class="justify-content-center align-self-center"></div>
                            <div class="">
                                <p class="h3">{{ message }}</p>
                            </div>
                            <div>
                                <button type="button" class="btn-close p-3" data-bs-dismiss="alert">&times;</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            {% block contentblock %}
            {% endblock %}
            </div>
            <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
            <script src="{{ url_for('static', filename='main.js') }}"></script>

            {% block scriptblock %}
            {% endblock %}
        </body>
</html>