{% extends "base.html" %}

{% block headerinjection %}
<script id="app_settings" type="text/json">{{ settings|tojson }}</script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block headerblock %}
    <p>{{ current_user.username }}{% if current_user.admin == True %} (admin) {% endif %} </p>
{% endblock %}

{% block content %}
<div class="images-block g-0 mt-2" id="imagesBlock">
    {% for i in images %}
    {% include "includes/thumbnail.html" %}
    {% endfor %}
</div>
<div id="load-more" hx-get="/load_more_images?q={{ search }}&offset={{ next_offset }}" hx-target="#imagesBlock" hx-trigger="intersect once" hx-swap="beforeend">
</div>
{% endblock %}